{% extends "EventPlanners/base.html" %}
{% load staticfiles %}


{% block insert_image %}
	<img src="{% static "images/accomodation.jpg" %}" alt="caterer"  style="width:100%;height:400px;">
{% endblock %}


{% block title %}
	Hotels
{% endblock %}


{% block filter %}
	<div>	
	<ul class="vertical_menu">
	<p style="color:red;">budget</p>
	<li><a href="#">100-200</a></li>
	<li><a href="#">200-300</a></li>
	<li><a href="#">300-400</a></li>
	<li><a href="#">400-500</a></li>
	<li><a href="#">500-600</a></li>
	</ul>
	</div>
{% endblock %}


{% block content %}
	{% for acc in accs %}
		 <div>
			<h3>{{ acc.acc_name }}</h3>
			<p>Type:{{ acc.acc_type }}<br>
			Location:{{ acc.acc_location }}<br>
			Cost: {{ acc.acc_cost }}</p>
			<button onclick="myFunction()">Book</button>
			<script>
			function myFunction() {
			    alert("Mail has been sent to the organisation. Kindly await for a reply mail with the confirmation details. Thankyou.");
			}
			</script>
		</div>
	{% endfor %}
{% endblock %}
